:root {
    --lightPurple: #404582;
    --purple: #383875;
    --darkPurple: #252a52;
    --veryLightBlue: #bbecff;
    --lightBlue: #6ab3d0;
    --blue: #2e84a3;
    --darkBlue: #12698b;
    --yellow: #fba542;
    --darkYellow: #d07a20;
    --textBackground: #252a52c0;
}

body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    background-image: url("../images/decor.png");
    display: flex;
    font-family: 'Silkscreen', cursive;
    overflow: hidden;
    /* position: relative; */
}

p,
li {
    font-size: 1.2em;
}

h1 {
    font-size: 1.8em;
}

h2 {
    font-size: 1.6em;
}


/*Accueil*/

#accueil {
    display: flex;
}

#title {
    position: absolute;
    top: 0px;
    width: 100vw;
    z-index: 6;
    display: flex;
    transition-duration: 1.5s;
}

#title>img {
    margin: auto;
}

.door {
    background-image: url("../images/decor.png");
    height: 100vh;
    width: 50vw;
    background-color: var(--lightBlue);
    position: absolute;
    z-index: 5;
}

#leftDoor {
    left: 0;
    border-right: solid 20px var(--darkBlue);
}

#rightDoor {
    right: 0;
    border-left: solid 20px var(--darkBlue);
}

#startGame {
    position: absolute;
    left: 40vw;
    right: 40vw;
    top: 50vh;
    height: 70px;
    z-index: 6;
    transition-duration: 0.4s;
    border-radius: 20px;
    border: unset;
    background-color: var(--lightPurple);
    font-family: 'Silkscreen', cursive;
    font-size: 30px;
    color: white;
}

#startGame:hover {
    background-color: var(--lightPurple);
}

@keyframes leftDoorOpening {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

@keyframes rightDoorOpening {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(100%);
    }
}


/*Introduction (message)*/

@keyframes wiggle {
    0% {
        transform: rotateZ(0deg);
    }
    16% {
        transform: rotateZ(20deg);
    }
    32% {
        transform: rotateZ(-20deg);
    }
    48% {
        transform: rotateZ(20deg);
    }
    64% {
        transform: rotateZ(-20deg);
    }
    80%,
    100% {
        transform: rotateZ(0);
    }
}

#messageIntro {
    background-color: var(--textBackground);
    height: 100%;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    transition-duration: 0.4s;
}

#messageIntro>img {
    max-width: 50%;
}

#messageIntro>* {
    margin: auto;
}

#contenuMessage {
    /* max-width: 80vw; */
    /* height: 0; */
    transition-duration: 5s;
    padding: 30px;
    /* opacity: 0; */
    transform: scale(0);
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 10vw;
    right: 10vw;
    top: 20vh;
}

#contenuMessage>p {
    text-align: center;
}

#contenuMessage>ol {
    padding-left: 10vw;
}


/*Partie1*/

#messageMarchand {
    background-color: var(--textBackground);
    display: flex;
    width: 100vw;
}

#marchandFirstPlan {
    /* background-color: rgba(0, 0, 0, 0.7); */
    padding: 20px;
    margin: auto;
}

#accueilText {
    z-index: 2;
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: var(--textBackground);
    border-radius: 20px;
    padding: 20px;
    top: 30px;
    left: 30px;
    right: 30px;
    position: absolute;
}

#mainPart {
    height: 100%;
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;
    padding: 10px;
    transition-duration: 2s;
}


/*Partie principale du jeu*/

#game {
    height: 768px;
    width: 960px;
    /* margin: auto; */
    /* margin-top: 60px; */
    grid-column: 2;
    grid-row: 2;
    place-self: center;
    background-image: url("../images/fond.png");
    background-size: cover;
    border-radius: 70px;
    border: 10px solid var(--darkBlue);
    position: relative;
    overflow: hidden;
}

#marchandInGame {
    position: absolute;
    bottom: 120px;
    right: 50px;
    animation: floatingMarchand 2s ease-in-out infinite;
    z-index: 2;
}

#marchandInGame>img {
    height: 390px;
}

#marchandInGame>p {
    position: absolute;
    right: 0px;
    top: -40px;
    background-color: var(--textBackground);
    color: white;
    padding: 10px;
    border-radius: 30px;
    max-width: 50%;
    /* margin: auto; */
    margin-left: 50%;
    text-align: center;
    transform-origin: center;
    transition-duration: 0.6s;
    opacity: 0;
}

@keyframes floatingMarchand {
    from {
        bottom: 150px;
    }
    50% {
        bottom: 170px;
    }
    to {
        bottom: 150px;
    }
}

.sideBarre {
    grid-row: 2;
    width: 300px;
    align-self: start;
    justify-self: center;
}

.sideBarre>* {
    background-color: var(--veryLightBlue);
    border: 10px solid var(--darkBlue);
    border-radius: 70px;
    color: var(--darkBlue);
}

#leftSideBarre {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#leftSideBarre>div {
    padding: 15px;
}

.speaker {
    background: none;
    border: none;
    max-width: 300px;
    animation: musique ease-in-out 0.6s infinite;
}

#littleSpeaker {
    position: absolute;
    top: 50px;
    right: 50px;
    z-index: 4;
    animation: musique2 ease-in-out 0.8s infinite;
}

@keyframes musique {
    from {
        transform: scale(0.95);
    }
    50% {
        transform: scale(1);
    }
    to {
        transform: scale(0.95);
    }
}

@keyframes musique2 {
    from {
        transform: rotateZ(30deg);
    }
    50% {
        transform: rotateZ(-30deg);
    }
    to {
        transform: rotateZ(30deg);
    }
}

.paused {
    animation-play-state: paused !important;
    filter: grayscale(70%);
}

#rightSideBarre {
    grid-column: 3;
}

#inventory {
    /* position: absolute;
    top: 50px;
    right: 100px; */
    margin-top: 30px;
    padding: 30px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    transform: scaleY(0);
    transition-duration: 0.4s;
    /* row-gap: 10px; */
}

#inventory>div {
    display: flex;
    margin: auto;
    width: 100%;
}

#inventory>div>p {
    align-self: center;
    /* text-decoration: line-through; */
}

.imagesInventaire {
    margin-right: 20px;
}

#compteRebours {
    text-align: center;
    font-size: 1.5em;
}


/*Quiz*/

#blackBoard {
    font-family: 'Gloria Hallelujah', cursive;
    height: 160px;
    width: 320px;
    position: absolute;
    left: 321px;
    top: 119px;
    background-image: url("../images/tableau.png");
}

#blackBoard>p {
    text-align: center;
    color: white;
    font-size: 15px;
    padding: 25px;
    padding-top: 10px;
    padding-bottom: 2px;
    margin: 0;
}

#blackBoard>img {
    margin-left: 73px;
}

#MyDialogue {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    background-color: var(--textBackground);
    z-index: 3;
}

#MyDialogue>.choices>img {
    max-width: 90px;
    max-height: 90px;
}

.choices {
    color: white;
    /* background-color: rgba(127, 255, 212, 0.5); */
    padding: 4px;
    margin: 4px;
    align-self: center;
    justify-self: stretch;
}

.choices:hover {
    color: var(--purple);
    background-color: var(--veryLightBlue);
}


/*Impression du plan*/

#imprimante {
    position: absolute;
    bottom: 78px;
    left: -32px;
}


/* #imprimante:hover {
    transform: scale(1.05);
} */

#plan {
    position: absolute;
    bottom: 338px;
    left: 119px;
    z-index: 2;
    transform: scaleY(0);
    transform-origin: top;
    transition-duration: 1s;
}

#huile {
    position: absolute;
    top: 291px;
    left: 409px;
}

#ecrous {
    position: absolute;
    left: 61px;
    top: 52px;
}


/*Récup éléments*/

.collectibles {
    z-index: 3;
}


/*Perdu*/

#endMessage {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    padding: 60px;
    /* padding-top: 20%; */
    background-color: var(--textBackground);
    color: white;
    z-index: 4;
    opacity: 0;
    transition-duration: 2s;
    display: flex;
    flex-direction: column;
}

#endMessage>* {
    margin: auto;
}


/*styles communs*/

.emphasize {
    font-size: 1.5em;
    color: var(--yellow);
}

.none {
    display: none !important;
}

.next {
    opacity: 0;
    transition-duration: 1s;
}

.boutons {
    background-color: var(--darkYellow);
    padding: 15px;
    width: fit-content;
    border-radius: 20px;
    border: unset;
    font-family: 'Silkscreen', cursive;
    margin: auto;
    margin-top: 20px;
    color: var(--purple);
    transition-duration: 0.4s;
}

.boutons:hover {
    -webkit-box-shadow: 2px 5px 16px 0px #0B325E, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    box-shadow: 2px 5px 16px 0px #0B325E, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.interaction {
    cursor: pointer;
}

.interaction:hover {
    transform: scale(1.05);
}

.uncollected {
    filter: grayscale(100%);
}

.collected {
    text-decoration: line-through;
}