body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    background-image: url("../images/decor.png");
    background-color: rgb(155, 233, 255);
    display: flex;
    /* font-family: 'Play', sans-serif; */
    font-family: 'Silkscreen', cursive;
}

#game {
    height: 768px;
    width: 960px;
    margin: auto;
    background-image: url("../images/fond.png");
    background-size: cover;
    background-color: plum;
    border-radius: 70px;
    border: 10px solid rgb(92, 92, 92);
    position: relative;
    overflow: hidden;
}

#PNJdialogue {
    font-family: 'Gloria Hallelujah', cursive;
    height: 160px;
    width: 320px;
    position: absolute;
    left: 321px;
    top: 119px;
    background-image: url("../images/tableau.png");
}

#PNJdialogue>p {
    text-align: center;
    color: white;
    font-size: 15px;
    padding: 25px;
    padding-top: 10px;
    padding-bottom: 2px;
    margin: 0;
}

#PNJdialogue>img {
    margin-left: 73px;
}

#MyDialogue {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* column-gap: 10px;
    row-gap: 10px; */
    text-align: center;
    background-color: rgba(33, 5, 59, 0.7);
}

#MyDialogue>.choices>img {
    max-width: 90px;
    max-height: 90px;
}

.choices {
    color: white;
    /* background-color: rgba(127, 255, 212, 0.5); */
    padding: 4px;
    margin: 4px;
    align-self: center;
    justify-self: stretch;
}

.choices:hover {
    color: white;
    background-color: rgba(127, 204, 255, 0.7);
}