body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    background-image: url("../images/decor.png");
    background-color: rgb(155, 233, 255);
    display: flex;
    /* font-family: 'Play', sans-serif; */
    font-family: 'Silkscreen', cursive;
    overflow: hidden;
}


/*Accueil*/

#accueil {
    display: flex;
}

.door {
    background-color: rgb(155, 233, 255);
    background-image: url("../images/decor.png");
    height: 100vh;
    width: 50vw;
    position: absolute;
    z-index: 3;
}

#leftDoor {
    left: 0;
    border-right: solid 20px rgb(44, 138, 138);
}

#rightDoor {
    right: 0;
    border-left: solid 20px rgb(44, 138, 138);
}

#startGame {
    position: absolute;
    left: 40vw;
    right: 40vw;
    top: 50vh;
    height: 70px;
    z-index: 4;
    transition-duration: 0.4s;
    border-radius: 20px;
    border: unset;
    background-color: rgb(44, 138, 138);
    font-family: 'Silkscreen', cursive;
    font-size: 30px;
    color: white;
}

@keyframes leftDoorOpening {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

@keyframes rightDoorOpening {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(100%);
    }
}


/*Partie1*/

#firstPart {
    height: 100%;
    width: 100%;
}

#marchandFirstPlan {
    background-color: rgba(0, 0, 0, 0.7);
    min-width: 100%;
    min-height: 100%;
    padding: 20px;
    z-index: 1;
}

.firstPlan {
    position: absolute;
}

#accueilText {
    z-index: 2;
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 50, 0.6);
    border-radius: 20px;
    padding: 20px;
    top: 30px;
    left: 30px;
    right: 30px;
}

#game {
    height: 768px;
    width: 960px;
    margin: auto;
    margin-top: 60px;
    background-image: url("../images/fond.png");
    background-size: cover;
    background-color: plum;
    border-radius: 70px;
    border: 10px solid rgb(92, 92, 92);
    position: relative;
    overflow: hidden;
}

#blackBoard {
    font-family: 'Gloria Hallelujah', cursive;
    height: 160px;
    width: 320px;
    position: absolute;
    left: 321px;
    top: 119px;
    background-image: url("../images/tableau.png");
}

#blackBoard>p {
    text-align: center;
    color: white;
    font-size: 15px;
    padding: 25px;
    padding-top: 10px;
    padding-bottom: 2px;
    margin: 0;
}

#blackBoard>img {
    margin-left: 73px;
}

#MyDialogue {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* column-gap: 10px;
    row-gap: 10px; */
    text-align: center;
    background-color: rgba(33, 5, 59, 0.7);
}

#MyDialogue>.choices>img {
    max-width: 90px;
    max-height: 90px;
}

.choices {
    color: white;
    /* background-color: rgba(127, 255, 212, 0.5); */
    padding: 4px;
    margin: 4px;
    align-self: center;
    justify-self: stretch;
}

.choices:hover {
    color: white;
    background-color: rgba(127, 204, 255, 0.7);
}

.none {
    display: none !important;
}

@keyframes wiggle {
    0% {
        transform: rotateZ(0deg);
    }
    16% {
        transform: rotateZ(20deg);
    }
    32% {
        transform: rotateZ(-20deg);
    }
    48% {
        transform: rotateZ(20deg);
    }
    64% {
        transform: rotateZ(-20deg);
    }
    80%,
    100% {
        transform: rotateZ(0);
    }
}

#messageIntro {
    background-color: rgba(0, 0, 47, 0.8);
    height: 100%;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    transition-duration: 0.4s;
}

#messageIntro>img {
    max-width: 50%;
}

#messageIntro>* {
    margin: auto;
}

#contenuMessage {
    /* max-width: 80vw; */
    /* height: 0; */
    transition-duration: 5s;
    padding: 30px;
    /* opacity: 0; */
    transform: scale(0);
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 10vw;
    right: 10vw;
    top: 20vh;
}

#contenuMessage>p {
    text-align: center;
}

#contenuMessage>ol {
    padding-left: 10vw;
}

.emphasize {
    font-size: 1.5em;
}

.next {
    background-color: rgb(240, 240, 137);
    padding: 15px;
    width: fit-content;
    border-radius: 20px;
    border: unset;
    font-family: 'Silkscreen', cursive;
    margin: auto;
    margin-top: 20px;
    color: rgb(44, 138, 138);
    opacity: 0;
    transition-duration: 1s;
}